
<%= render 'errors' %>


<div id=form>
<%= form_for(@recipe) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :skill_level %>
    <%= f.number_field :skill_level %><br>
    <%= f.label :meal_type %>
    <%= f.select :meal_type, [[:include_blank => true], ['breakfast'], ['lunch'], ['dinner'], ['dessert'], ['snack']] %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %><br>
    <%= f.label :directions %>
    <%= f.text_area :directions %><br>
    <%= display_country_fields(@country, f) %>
    <%= f.submit %>
<% end %>
</div>