<h1><%= display_header(@country) %></h1>

<label><b>Breakfast:</label></b>
<ul>
<% @recipes.breakfast.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> - Skill Level: <%= recipe.skill_level %></li>
<% end %>
</ul>
<br>

<label><b>Lunch:</label></b>
<ul>
<% @recipes.lunch.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> - Skill Level: <%= recipe.skill_level %></li>
<% end %>
</ul>
<br>

<label><b>Dinner:</label></b>
<ul>
<% @recipes.dinner.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> - Skill Level: <%= recipe.skill_level %></li>
<% end %>
</ul>
<br>

<label><b>Dessert:</label></b>
<ul>
<% @recipes.dessert.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> - Skill Level: <%= recipe.skill_level %></li>
<% end %>
</ul>
<br>

<label><b>Snacks:</label></b>
<ul>
<% @recipes.snack.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> - Skill Level: <%= recipe.skill_level %></li>
<% end %>
</ul>
<br><br>


<% if !params[:country_of_origin_id] %>
    <%= link_to "Countries featured in these recipes", country_of_origins_path %>
<% end %>

<% if params[:country_of_origin_id] %>
    <%= link_to "Add a New Recipe from #{@country.name}", new_country_of_origin_recipe_path %>
<% end %>
