<h1><%= @recipe.name %></h1>
<p style="color: #009999"><b><%= @recipe.country_of_origin.name %> - <%= @recipe.meal_type.capitalize %></b></p>
<p style="color: #009999"><b>Skill Level: <%= @recipe.skill_level %></b></p>


<p style="color: #00994d"><i><%= @recipe.description %></i></p>

<h4>Ingredients:</h4>
<p><%= @recipe.ingredients %></p>

<h4>Directions:</h4>
<p><%= @recipe.directions %></p>


<% if current_user.id == @recipe.user.id %>
    <%= link_to("Delete Recipe", recipe_path(@recipe), method: "delete") %><br>
    <%= link_to("Edit Recipe", edit_recipe_path(@recipe)) %><br><br>
<% end %>

<%= link_to("Back to Recipe Library", recipes_path) %><br>
<%= link_to("Back to Homepage", user_path(current_user)) %>