<h1><%= @recipe.name %></h1>
<h3><%= @recipe.country_of_origin.country %> - <%= @recipe.meal_type.capitalize %></h3>
<label>Skill Level: </label><%= @recipe.skill_level %><br><br>

<p><%= @recipe.description %></p>

<label>Ingredients:</label>
<p><%= @recipe.ingredients %></p>

<label>Directions:</label>
<p><%= @recipe.directions %></p>


<% if current_user.id == @recipe.user.id %>
    <%= link_to("Delete Recipe", recipe_path(@recipe), method: "delete") %><br>
    <%= link_to("Edit Recipe", edit_recipe_path(@recipe)) %>
<% end %>