<% if @user.errors.any? %>
    <div id="error_explanation">
    <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being created:
    </h2>

    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_with(model: @user, url:'/signup', local: true) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign Up"%>
<% end %>