<!DOCTYPE html>
<html>
  <head>
    <title>WhatsCookin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="wrap_one">
  <body>
  <div id="form">
  <%= link_to("Recipe Library", recipes_path) %> - 
  <%= link_to("New Recipe", new_recipe_path) %> 
  <%= button_to("Log In With Google", '/auth/google_oauth2')%>
  </div>
  <% if flash[:message] %>
    <div class="field_with_errors"><b><%= flash[:message] %></b></div>
  <% end %>
        <%= yield %>
  </body>
<hr>
<footer> 
   <% if logged_in? %>
        <small><%= current_user.username %></small><br>
        <small><%= link_to "Log Out", logout_path, method: "delete" %></small>
    <% end %>
</footer>
</html>
</div>
