<!DOCTYPE html>
<html>
  <head>
    <title>WhatsCookin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="wrap_one">
  <body>

  <% if flash[:message] %>
    <div class="field_with_errors"><%= flash[:message] %></div>
  <% end %>
        <%= yield %>
  </body>
<hr>
<footer> 
  <%= current_user.username %> - <%= link_to("Log Out", logout_path, method: "delete") %><br>
</footer>
</html>
</div>
